/*--------------------------------------------------------------
# Default
--------------------------------------------------------------*/

:root {
	--main-color: 			#2a497f;
	--secondary-color: 		#62b165;
	--accent-color: 		#666;
	--body-text-color:  	#000;
	--heading-color: 		#000;
	--link-color: 			#2a497f;
	--main-font: 			'proxima-nova', sans-serif;
	--secondary-font: 		'open-sans', sans-serif;
	--heading-font: 		'proxima-nova', sans-serif;
	--font-size-l: 			29px;
    --font-size-m: 			20px;
    --font-size-s: 			17px;
    --font-size-xl: 		30px;
    --font-size-xxl: 		40px;
    --font-size-xxxl: 		53px;
    --font-size-xxxxl: 		60px;	
	--header-height: 		159px;
	--header-height-768: 	240px;
	--header-height-576: 	240px;    
}

/*@font-face {
	font-family: 'Satoshi Regular';
	src: url('assets/fonts/satoshi-regular.otf');
}*/


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

html, body {
	overflow-x: hidden;
}

body {
	background: #fff;
	font-family: var(--main-font);
	font-weight: 400;
	font-size: var(--font-size-s);
	color: var(--body-text-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;	
}

body.admin-bar { min-height: calc(100vh - 32px); }





img { max-width: 100%; height: auto; }

.list-style-none {
	padding: 0;
	margin: 0;
	list-style: none;
}

.force-full-width {
	width: 100vw;
	margin-left: calc(50% - 50vw);
}

.full-height {
	height: calc(100vh - var(--header-height));
}

.btn {
	min-width: 237px;
	padding: 8px 32px;
	border: 0;
	border-radius: 0;
	font-family: var(--main-font);
	font-size: var(--font-size-m);
	color: #fff;
}

.btn-primary  		{ background: var(--secondary-color); }
.btn-secondary 		{ background: var(--secondary-color); }



/* Text Sizing
-------------------- */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { 
	color: var(--heading-color);
	font-family: var(--heading-font);
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;	
}

h1, .h1 {
	font-size: 40px;
	letter-spacing: 12px;
	line-height: 49px;
}

h2, .h2 {
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 5px;
	color: #000;
}

p { font-family: var(--secondary-font); line-height: 28px; margin-bottom: 30px; }

a { text-decoration: none; color: var(--link-color); }

.font-size-s 		{ font-size: var(--font-size-s); }
.font-size-m 		{ font-size: var(--font-size-m); }
.font-size-l 		{ font-size: var(--font-size-l); }
.font-size-xl 		{ font-size: var(--font-size-xl); }
.font-size-xxl 		{ font-size: var(--font-size-xxl); }
.font-size-xxxl 	{ font-size: var(--font-size-xxxl); }
.font-size-xxxxl 	{ font-size: var(--font-size-xxxxl); }



/* Inputs & Forms
-------------------- */

textarea {
	max-height: 200px;
}

input[type="submit"] {
	background: var(--secondary-color);
	color: #fff;
	border: 0;
	outline: 0;
	padding: 6px 32px;
	display: block;
	margin: 0 auto;
	font-size: var(--font-size-m);	
}

body .gform_wrapper.gravity-theme input[type="text"],
body .gform_wrapper.gravity-theme input[type="email"],
body .gform_wrapper.gravity-theme input[type="tel"],
body .gform_wrapper.gravity-theme textarea {
	border: 0;
	outline: 0;
	padding: 17px 20px 13px;
	margin-bottom: 12px;
}

body .gform_wrapper.gravity-theme input[type="text"]::placeholder,
body .gform_wrapper.gravity-theme input[type="email"]::placeholder,
body .gform_wrapper.gravity-theme input[type="tel"]::placeholder,
body .gform_wrapper.gravity-theme textarea::placeholder {
	color: #b4b4b4;
	font-size: var(--font-size-m);
	line-height: 1;
}




/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media (max-width:  1600px) {
	:root {
	    --font-size-s: 			16px;
	    --font-size-m: 			18px;
		--font-size-l: 			22px;
	    --font-size-xl: 		24px;
	    --font-size-xxl: 		30px;
	    --font-size-xxxl: 		40px;
	    --font-size-xxxxl: 		45px;
	}
}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {

}