/*--------------------------------------------------------------
# Masthead
--------------------------------------------------------------*/

.masthead {
	min-height: 290px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.masthead-title {
	--padding: 30px;
	position: relative;
	z-index: 2;
	padding-top: var(--padding);
	padding-bottom: var(--padding);
}

.masthead-title span {
	position: relative;
	display: inline-block;
}

.masthead-title span::after {
	content: "";
	width: 100vw;
	height: calc(100% + var(--padding) * 2);
	position: absolute;
	top: calc(var(--padding) * -1);
	right: -70px;
	background: #fff;
	z-index: -1;
	opacity: 0.66;
}

.masthead-title h1 {
	font-weight: 700;
	position: relative;
	font-size: 60px;
	line-height: 68px;
}



/* Home Masthead
---------------------------*/
.home .masthead		  		{ height: calc(100vh - var(--header-height)); }
.admin-bar.home .masthead 	{ height: calc(100vh - var(--header-height) - 32px); }

.masthead-home {
	padding: 0 4% 55px;
	justify-content: flex-end;
	min-height: 660px;
}

.masthead-home .tagline {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: var(--main-color);
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 6px 0;
	font-size: var(--font-size-l);
	font-weight: 600;
	font-style: italic;
}

.attorney-image {
	z-index: -1;
	height: 100%;
	overflow: hidden;
	flex: 1;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 4%;	
    max-width: 33%;
}

.attorney-image img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: bottom;
}

.masthead-content-wrapper {
	width: 70%;
}

.masthead-content {
	flex: 1;
}

.masthead-content .text-banner {
	background: #f4f4f4;
	padding: 47px 47px 47px 0;
	position: relative;
	color: var(--main-color);
	font-size: var(--font-size-xl);
	line-height: var(--font-size-xl);
	text-transform: uppercase;
	font-weight: 600;
}

.masthead-content .text-banner::before {
	background: inherit;
	content: "";
	position: absolute;
	right: 20%;
	top: 0;
	height: 100%;
	width: 100%;
	transform: skewX(-20deg);
	z-index: -1;
}

.masthead-content .cases {
	padding-top: 30px;
	padding-right: 30px;
}

.masthead-content .cases p {
	line-height: 1;
	font-family: var(--main-font);
	font-weight: 700;
}

.masthead-contact-form {
	background: var(--main-color);
	padding: 40px 40px 20px;
	color: #fff;
	/*width: 41%;*/
	width: 58%;
}

.masthead-contact-form p {
	letter-spacing: 0;
	font-family: var(--main-font);
}

.masthead-contact-form textarea {
	max-height: 127px;
}

.masthead-contact-form input[type="submit"] {
	display: block;
	margin: 0 auto;
	font-size: var(--font-size-m);
}

.masthead-contact-form .gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) span.name_first { margin-right: 12px; }




/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media (max-width:  1600px) {
	.masthead-content .text-banner { padding: 30px 40px 30px 0; }
	.attorney-image { left: 0; max-width: 35%; }

	body .masthead-home .gform_wrapper.gravity-theme input[type="text"], 
	body .masthead-home .gform_wrapper.gravity-theme input[type="email"], 
	body .masthead-home .gform_wrapper.gravity-theme input[type="tel"], 
	body .masthead-home .gform_wrapper.gravity-theme textarea {
		padding: 10px 16px;
		margin-bottom: 0;
	}
}

@media (max-width: 1200px) {


	
}

@media (max-width: 991px) {
	.attorney-image { max-width: 100%; }
}

@media (max-width: 767px) {
	.home .masthead		  		{ height: calc(100vh - var(--header-height-768)); }
	.admin-bar.home .masthead 	{ height: calc(100vh - var(--header-height-768) - 46px); }
}

@media (max-width: 576px) {
	.home .masthead		  		{ height: calc(100vh - var(--header-height-576)); }
	.admin-bar.home .masthead 	{ height: calc(100vh - var(--header-height-576) - 46px); }
}