/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section { margin-bottom: 60px; }

.section-title {
	text-align: center;
	font-size: var(--font-size-xxxl);
	line-height: var(--font-size-xxxl);
	font-weight: 600;
	margin-bottom: 60px;
	letter-spacing: 0;
	text-transform: none;
}




/* Featured In
-------------------- */

section.featured-in {
	padding: 0 4%;
}

section.featured-in .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

section.featured-in .swiper-slide img {
	max-width: 50%;
    max-height: 100px;
}


/* Three Columns
---------------------------*/
.two-columns .video-wrapper {
	position: relative;
	width: 100%;
}


.two-columns .video-wrapper::before {
	content: "";
	padding-top: 56.25%;
	display: block;
	background: rgba(0, 0, 0, 0.1);
}

.two-columns .video-wrapper iframe,
.two-columns .video-wrapper > div {
	height: 100%;
	width: 100%;
	position: absolute!important;
	top: 0;
	left: 0;
}

.two-columns p:last-child {
	margin-bottom: 0;
}

/* Three Columns
---------------------------*/
.column-image {
	width: 320px;
	height: 150px;
	margin: 0 auto 60px;
}

.column-image img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}


/* Full Width Image
---------------------------*/
section.full-width-image { 
	height: calc(100vh - var(--header-height)); 
	background-size: cover;
	background-position: center;
	position: relative;
}

section.full-width-image .caption {
	position: absolute;
	bottom: 6%;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.56);
	font-size: 76px;
	line-height: 82px;
	text-align: center;
	color: #fff;
	width: 90%;
	max-width: 1300px;
	padding: 40px;
}




/* Videos
-------------------- */

section.videos .video-wrapper {
	/*width: 50%;*/
}






/* Cards
-------------------- */

.card {
	--spacing: 15px;
	border-radius: 0;
	border: 0;
	box-shadow: 0 9px 13px #00000029;
	background: #45B280;
	text-align: center;
	position: relative;
	overflow: hidden;
	height: 100%;
	padding:  calc(var(--spacing) + 15px);
	min-height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card::after{
	content: "";
	position: absolute;
	top: var(--spacing);
	right: var(--spacing);
	bottom: var(--spacing);
	left: var(--spacing);
	border: 5px solid #fff;
	z-index: 2;
	box-shadow: inset 0 7px 7px #00000029, 0 7px 7px #00000029;
}

.home .card {
	background: var(--main-color);
}

.card .cover {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card .cover p {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
}

.card p.title {
	font-size: 18px;
	letter-spacing: 2px;
	color: #fff;
}

.card p.money {
	color: #fff;
	font-size: 32px;
	line-height: 36px;
}

.card .description { 
	opacity: 0;
	padding: 16px calc(var(--spacing) + 15px) 0; 
	transform: translateY(10px);
	position: relative; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	transform-origin: 50% 100%;
}
.card .description p {
	font-size: 12px;
	color: #fff;
	line-height: 14px;
	position: relative;
	margin-bottom: 20px;
}

.card .description p:last-child { margin-bottom: 0; }


.card .wrap {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
}

.card .wrap .cover {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.3s;
}

.card .wrap .cover.hide {
	position: relative;
	visibility: hidden;
}

.card .wrap .description {
	justify-self: flex-end;
}

.card .card-layout{
	visibility: hidden;
	padding-bottom: 20px;
}

.card:hover .wrap .cover { transform: translateY(0); top: 0; }
.card:hover .description  		{ opacity: 1; transform: translateY(0); }


/* Awards
-------------------- */

section.awards {
	background: #ebebeb;
	padding: 60px 4%;
}

.award-logo {
	width: 20%;
	margin-bottom: 60px;
}

.award-logo img {
	height: 125px;
	width: auto;
	display: block;
	margin: 0 auto;
}


/* Callout
-------------------- */

.callout-box {
	background: var(--main-color);
	color: #fff;
	text-align: center;
	padding: 60px;
}

.callout-box p {
	font-family: var(--main-font);
}

.callout-box p.headline {
	font-size: var(--font-size-xxxl);
	line-height: calc(var(--font-size-xxxl) + 14px);
	font-weight: 600;
}

.callout-box p.description {
	margin: 36px 0 0;
	font-size: var(--font-size-xl);
	line-height: var(--font-size-xl);
	font-weight: 600;
}


/* Testimonials
-------------------- */
.testimonial-slider { overflow: hidden; }

.testimonial-slider .testimonial { 
	height:100%; 
	width: 99%;
	margin: 0 auto;
}



@media (max-width:  1600px) {
	.callout-box {
		padding: 30px 40px 40px;
	}
}