.float-left, .float-start {
	float: left!important;
	clear: none!important;
}

.float-right, .float-end {
	float: right!important;
	clear: none!important;
}

.no-min { min-height: auto!important; }

#adminmenu #menu-pages { margin-bottom: 11px; }





/* ACF
---------------------------*/

.acf-flexible-content .layout {
	border-radius: 6px;
	box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.1);
}

.acf-flexible-content .layout:not(.-collapsed) {
	margin-bottom: 50px!important;	
}

.acf-flexible-content .layout .acf-fc-layout-handle {
    background-color: #2271b1;
    color: #fff!important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.acf-repeater.-row > table > tbody > tr > td,
.acf-repeater.-block > table > tbody > tr > td {
    border-top: 2px solid #2271b1;
}

.acf-repeater .acf-row-handle {
    vertical-align: top !important;
    padding-top: 16px;
}

.acf-repeater .acf-row-handle span {
    font-size: 20px;
    font-weight: bold;
    color: #2271b1;
}

.imageUpload img {
    width: 75px;
}

.acf-repeater .acf-row-handle .acf-icon.-minus {
    top: 30px;
}

/* 
 * ACF "repeat-horizontal" class, display repeaters in horizontal columns 
 */
.repeat-horizontal .acf-repeater tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.repeat-horizontal .acf-repeater tr.acf-row:not(.acf-clone) {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%; /* 21% because 25% gives CSS bugs when content pushes width and not 20 because we want the max to be 4 */
    border-bottom: 1px solid #eee;
}
#practice-areas.repeat-horizontal .acf-repeater tr.acf-row:not(.acf-clone) {
    flex-basis: 33%;
}
.repeat-horizontal .acf-repeater tr.acf-row:not(.acf-clone) td.acf-fields {
    width: 100% !important; /* important is necessary because it gets overwritten on drag&drop  */
}
.repeat-horizontal .acf-repeater .acf-row-handle,
.repeat-horizontal .acf-repeater .acf-fields{
    border-width: 0px 0px 0px 1px;
}
.repeat-horizontal .acf-repeater .acf-row-handle.order{
    min-width: 10px; /* to stop breaking layout if we keep the max rows bellow 10 */
}
.repeat-horizontal .acf-repeater .acf-row:last-child .acf-row-handle{
    border-width: 0px;
}
.repeat-horizontal .acf-repeater .acf-row-handle .acf-icon{
    position: relative;
    margin: 10px 0;
}
/*.repeat-horizontal .acf-repeater .acf-row:hover .acf-row-handle .acf-icon{
    display: none; /* remove standard annoying hover */
/*}*/
.repeat-horizontal .acf-repeater .acf-row-handle.remove:hover .acf-icon{
    display: block; /* re-apply hover on set block */
}

.repeat-horizontal .acf-image-uploader .image-wrap img { height:150px; width: 150px; object-fit: contain; }




/*--------------------------------------------------------------
# Custom Meta Boxes
--------------------------------------------------------------*/

.admin-attorney li {
    border: 1px solid #c3c4c7;
    margin: 0;
    margin-top: -1px;
    display: flex;
    cursor: grab;
    background: #fff;
}

.admin-attorney li > * {
    padding: 6px;   
}

.admin-attorney li .handle {
    border-right: 1px solid #c3c4c7;
}

.admin-attorney li.hide { display: none; }

.majux-field {
    margin-bottom: 30px;
}

.majux-field input[type=text],
.majux-field textarea {
    width: 100%;
}

.majux-field textarea {
    min-height: 6rem;
}

.majux-label {
    margin: 12px 0;
}

.majux-label label {
    font-weight: 700;
}